{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "csharp"],
        "plugins": ["line-numbers"],
        // "theme": "tomorrow",
        "css": true
    }]
  ]
}